<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Test</title>
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        $(function () {

        });
    </script>
</head>

<body>
    <h2>Ajax를 이용한 데이터 송수신</h2>
    <ul>
        <li><a th:href="@{/ajaxForm1}">1. Ajax로 요청 보내기</a></li>
        <li><a th:href="@{/customer}">2. 고객정보 입력하기</a></li>

    </ul>

</body>

</html>